/*主体导航栏*/
.top-warp{
    width: 100%; height: 164px;
    background-color: #F8FAFC;
}
.top-warp-left{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
}
/*面包屑导航*/
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color:#93999F;
}
.breadcrumb-item a{
    color:#93999F;
}
.breadcrumb-item .steamed{
    cursor: text;/*鼠标样式*/
    text-decoration: none;/*去掉下划线*/
}
/*菜名*/
.detail-title{
    font-weight: 700;
    line-height: 25px;
    font-size: 26px;
    color: #07111B;
}
/**/
.dc-profile{
    color: #93999F;
    cursor: pointer;
    margin-top: 30px;
}
.dc-profile .spacer_2{
    padding: 0px 20px;
}