.food_2{margin:0 auto;
            width:80%;
        }
        .season_food{
            box-sizing: border-box;
            margin-bottom: 2rem;
        }
        .season_food img{
            width: 6.5rem;
        }
        .season_food a{
            position: relative;
            font-size:14px;
            height:7rem;
            text-align:center;
            display:block;
            overflow:hidden;
            border-radius:8px;
            margin-right: 1rem;
        }
        .season_food a p {
            position: absolute;
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            font-size: 12px;
            display: block;
            opacity: 0.4;
            background-color: #000;
            color: #fff;
            top: 4.5rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        *{margin:0;padding:0;}
        #_index{width: 1000px;
            margin: 2rem auto;
            padding-top: 25px;}
        .index-title {
            font-size: 18px;
            height: 20px;
            line-height: 20px;
            margin-bottom: 20px;
            border-left: 5px #9ac92b solid;
            padding-left: 15px;
            border-radius: 2px;
            margin-left: 3px;
        }
        .index-title2{border-left:5px solid #E1557A;}
        .index-title3{border-left:5px solid #3F99B3;}
        .index-img {
            width: 320px;
            height: 200px;
        }
        .index-img:hover{
            animation:bounce 1s;
        }
        .index-img a{
            position: relative;
            font-size:14px;
            height:200px;
            text-align:center;
            display:block;
            overflow:hidden;
            border-radius:8px;
        }
        .index-img a p {
            position: absolute;
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            display: block;
            opacity: 0.9;
            background-color: #9AC92B;
            color: #fff;
            top: 160px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .index-img a .b1{background-color: #E1557A;}
        .index-img a .b2{background-color: #3F99B3;}
        .index-list ul>li a{
            display: block;
            height:16px;
            overflow: hidden;
            margin-top:1.5rem;
            color:#000;
            font-size:14px;
            line-height:16px ;

        }
        .index-list .list-group li a span{
            color:#aaa;
            display:block;
            float:right;
        }
        .food_1{
            margin:0 auto;
            width:80%;
        }
        .healthy_food img{
            background-size:100%;
            width:12rem;
        }
        .healthy_food a{
            position: relative;
            font-size:14px;
            text-align:center;
            display:block;
            overflow:hidden;
            border-radius:8px;
            margin-right: 1rem;
        }
        .healthy_food a p {
            position:absolute;
            width: 100%;
            line-height:2rem;
            font-size:12px;
            display:block;
            opacity:0.4;
            background-color:#000;
            color: #fff;
            top:10rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
         .news_one{
            width:15rem;
            margin:2rem 1rem 1rem 1rem;
            position: relative;
        }
        .course-card-top{
            width:15rem;
            height:9rem;
            position:relative;
            border-radius:8px;
            overflow: hidden;
            margin-bottom: 1.5rem;
        }
        .course-card-top img{
            width:100%;height:100%;
            border-radius:8px;
        }
        .course-card-top .my_label{
            positinon:absolute;
            left:0.5rem;
            bottom:0.5rem;
            font-size:12px;
            color:#fff;
            iine-height:16px;
        }
        .my_label>span{
            display:inline-block;
            background:rgba(7,17,27,4);
            border-radius:0.75px;
        }
        .news_content{
            font-size:14px;
            text-aligh:center;
            color:#666;
            overflow:hidden;
            white-space: nowrap;
        }