*{margin:0;padding:0;}
/*ͷ��*/
#heard{width:1000px;height:100px;
    border:2px solid #f00;
}

/*body��a��ǩ����*/
/*4��"ȫ��"�Ļ�ɫ��������*/
#a1 .bg,#a2 .bg,#a3 .bg,#a4 .bg{
    display:inline-block;
    background:#FF9403;
    color: #fff;

}
/*4��span������*/
#a1>div>span,#a2>div>span,#a3>div>span,#a4>div>span{
    text-align: center;
    display: block;
    width:3rem;
    line-height: 40px;
    color: #07111b;
    font-weight:700;
}

/*4��id�ڵ�a��ǩ����*/
/*���������*/

/*�����е�����*/
#a1{padding: 16px 0 10px;}
#a1 a{font-size: 14px;
    color:#14191e;
    display:inline-block;
    text-decoration:none;
    padding:5px 10px;
    margin: 5px;
    border-radius: 3px;
}
#a1 a:hover{color:#f00;}
#a2 a,#a3 a,#a4 a{
    color:#4d555d;
    display:inline-block;
    background-color: #f3f5f7;
    text-decoration:none;
    padding:5px 10px;
    margin: 5px;;
    border-radius: 3px;
}

/*4��id�Ŀ��*/
#a1,#a2,#a3,#a4{width:1000px;
    margin:0 auto;
    font-size: 14px;
    padding: 10px 0;
}
/*body��ͼƬ����*/
#a5{clear: both;
    width:100%;
    margin: 0 auto;
    padding:40px;
}
#a5 ul{
    padding: 10px 25px;
}
/*li�ĸ�������*/
ul>li{position: relative;
    float: left;
    list-style: none;
    transition: 1s;

}
/*�����ͣ������Ч��*/
#a5 li:hover{transform: scale(1.1)}
/*img����:��С Բ��*/
#a5 img{width:120px;height:120px;
    border-radius: 10px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;

}
/*ͼƬ�ϵ�p��ǩ����*/
#a5 p{width:120px;height:30px;
    background-color:rgba(0,0,0,0.3);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    position:absolute;
    top:90px;
    text-align: center;
    line-height: 30px;
    color:#fff;
}
/*�ײ���ҳ��������*/
#a6{ clear: both;padding-left:7rem;}
.page-item{padding:10px;}
.page-link{border-radius: 3px;}
.page-item.active .page-link{
    background-color:#FFBD00;
    border-color: #dee2e6;

}
.page-link:hover{background-color:#FFBD00;}