*{margin: 0;padding: 0;}
/*导航栏属性*/

.breadcrumb-item + .breadcrumb-item::before {content: ">";font:12px "PingFang SC";color:#93999F;}
.breadcrumb-item a{font:12px "PingFang SC";color:#93999F;}
/*西红柿介绍属性*/
.media>img{width: 5rem;}
.media-body p{font-size: 18px;
    color: #93999F;}
/*去掉选项卡导航栏下面的线*/
.nav-tabs{ border-bottom: 1px solid transparent;}
/*默认状态时*/
.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:#000;
}
/*鼠标悬停时*/
.nav-tabs .nav-link:hover{
    border-color:#e9ecef #e9ecef #fff;
    color: #f00;
}
/*鼠标选中时*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #f00;
    background-color: #fff;
    border-bottom:#fff;
    border-top:2px solid #f00;
}
/*食材介绍内容的设置*/
#title1{width:100%;}
/*功效和作用*/
.content1 li{float: left;
    list-style: none;
    padding: 4px;
}
.content1 a{color:#f00;
    border:1px solid #f00;
    border-radius: 3px;
    padding:5px 8px;
}
.d-flex{clear: both;float: left;}
.span1>span{
    text-align: center;
    display: block;
    width:100px;
    color:#6bc600;
    font-size: 16px;
    font-weight: bold;
}
.span2>span{
    text-align: center;
    display: block;
    width:100px;
    color:#000;
    font-size: 16px;
    font-weight: bold;
}
/*title2西红柿的营养价值*/
.chengfen>li{width: 132px;height:80px;

}
.chengfen a{color: #000;}
.chengfen li:hover{
    background-color:#f7f7f7 ;
}
.title2,.title3{clear: both;}
/*title3西红柿的做法*/
.imgs1{clear: both;
    width:700px;height: 350px;
}
/*li的浮动设置*/
.imgs1 li{position: relative;
    float: left;
    list-style: none;
    transition: 1s;
    padding: 8px;
}
/*鼠标悬停发生的效果*/
.imgs1 li:hover{transform: translateY(-10px);}
/*img设置:大小 圆角*/
.imgs1 img{width:150px;height:140px;
    border-radius: 10px;
}
/*图片上的p标签设置*/
.imgs1 p{width:150px;height:35px;
    background-color:rgba(0,0,0,0.3);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    position:absolute;
    top:113px;
    text-align: center;
    line-height: 30px;
    color:#fff;
}

/*title4西红柿相关的文章*/
.media img{width:160px;
    height: 105px;
    border-radius: 5px;

}

